---
const {dream} = Astro.props;
import {formatDate} from '../utils/helpers'

const usePublicImages = !dream.frontmatter.image?.startsWith('https://');

---

<article class="dream-preview__article">
  <!-- Hopefully we'll be able to use Astro's image integration for this soon -->
  {
    usePublicImages && (
      <picture>
        <source srcset={`${dream.frontmatter.image}.webp`} type="image/webp">
        <img class="dream-preview__img" src={`${dream.frontmatter.image}.png`} alt={`Featured image for ${dream.frontmatter.title}`} >
      </picture>
    )
  }
  {
    !usePublicImages && (
      <picture>
        <source srcset={dream.frontmatter.image}>
        <img class="dream-preview__img" src={dream.frontmatter.image} alt={`Featured image for ${dream.frontmatter.title}`} >
      </picture>
    )
  }
  <div class="dream-preview__text">
    {dream.frontmatter?.category && <p class="dream-preview__category">{dream.frontmatter.category}</p>}
    <h2>{dream.frontmatter.title}</h2>
  </div>
</article>
  
<style>
.dream-preview__link {
  text-decoration: none;
}
.dream-preview__link:hover .dream-preview__img {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px 0;
  transform: scale(1.1);
}
.dream-preview__link:hover .dream-preview__text {
  transform: translateX(0.5rem);
}
.dream-preview__article {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}
.dream-preview__text {
  transition: transform 0.2s ease-in-out;
}
.dream-preview__category {
  width: fit-content;
  padding: 0.25rem 0.75rem;
  background-color: var(--theme-surface-1);
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  font-size: var(--step--2);
  /* color: #666; */
}
.dream-preview__text h2{
  font-size: var(--step-1);
}
.dream-preview__img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 1rem;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.dream-preview__date {
  font-size: var(--step--1);
  color: #666;
}
@media (max-width: 768px) {
  .dream-preview__article {
    grid-template-columns: 1fr;
  }
  .dream-preview__img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dream-preview__text {
    margin-top: 1rem;
  }
  .dream-preview__link:hover .dream-preview__img {
    box-shadow: none;
    transform: none;
  }
  .dream-preview__link:hover .dream-preview__text {
    transform: none;
  }
}
</style>